@model IEnumerable<Inventarios.Articulos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Reporte de Productos Activos</h1>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<div class="container">
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoArticulos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedores.Nombre)
            </th>
            <th>Acciones</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoArticulos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.costo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proveedores.Nombre)
                </td>
                <td class="btn btn-default border border-primary">
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.IdArticulo }) |*@
                    @Html.ActionLink("Details", "Details", new { id = item.IdArticulo }) |
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.IdArticulo })*@
                </td>
            </tr>
        }
    </table>
</div>